name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          pip install bandit

      - name: SAST Security Scan (Bandit)
        run: bandit -r . -f json -o sast-results.json || true

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          # We changed 'vars' to 'secrets' here for consistency
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/ta9ss:latest .
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/ta9ss:latest